@import "tailwindcss";

.active {
  color: rgb(255, 221, 0);
}
.current-image {
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}
.hide-current-image{
  display: none;
}

.active-indicator{
  background-color: #d6ccc2;
  height: 6px;
  width: 30px;
  border-radius: 20%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.inactive-indicator{
  background-color: transparent;
  border: 1px solid #d6ccc2;
}